body { font-family: 'Roboto Slab', serif; }
h1, h2, h3, nav a {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

nav {
  background-color: #da527f;
  border-bottom: 1px solid #f5c59d;
}
nav a { color: #444; text-decoration: none; }
nav a:hover { color: #d45b00; }